---
---

@import "{{ site.theme }}";
img.circleme { 
  display: block; 
  width: 65%; 
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 16px; 
}

header.moreheader { 
  width: 300px; 
}

header.lessheader { 
  width: 200px; 
}

section.morecontent {
  width: 600px; 
} 

div.tocitem { 
  margin-bottom: 5px; 
  margin-left: 10px;
}
