<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header class="smallertext">
        <h3 id="contents">Contents</h3>
        <div class="tocsingleton"><a href="#data-sources">Data sources</a></div>
        <div class="tocgroup"><a href="#power-query-elt">Power Query ELT</a> 
            <div class="tocitem"><a href="#parameters-and-functions">Parameters and Functions</a></div> 
            <div class="tocitem"><a href="#data-loads">Data Loads</a></div>
            <div class="tocitem"><a href="#referral-table">Referral Table</a></div> 
            <div class="tocitem"><a href="#processing-time-table">Processing Time Table</a></div> 
            <div class="tocitem"><a href="#direct-secure-message-table">Direct Secure Message Table</a></div> 
            <div class="tocitem"><a href="#standard-calendar-table">Standard Calendar Table</a></div> 
            <div class="tocitem"><a href="#dimension-tables">Dimension Tables</a></div> 
            <div class="tocitemlast"><a href="#other-tables">Other Tables</a></div> 
        </div>
        <div class="tocsingleton"><a href="#power-bi-data-model">Power BI Data Model</a></div> 
        <div class="tocgroup"><a href="#power-bi-report">Power BI Report</a> 
            <div class="tocitem"><a href="#referral-status">Referral Status</a></div>  
            <div class="tocitem"><a href="#volume-of-referrals-after-90-days">Volume of Referrals after 90d</a></div>  
            <div class="tocitem"><a href="#process-rates-after-90-days">Process Rates After 90 Days</a></div>  
            <div class="tocitem"><a href="#rate-seen-waiting-or-unmet">Rate Seen, Waiting, or Unmet</a></div>  
            <div class="tocitem"><a href="#days-to-seen-with-distribution">Days to Seen with Distribution</a></div>  
            <div class="tocitem"><a href="#routine-referrals-seen-in-30-days">Routine Referrals Seen in 30 Days</a></div>  
            <div class="tocitem"><a href="#improvement-direction">Improvement Direction</a></div>  
            <div class="tocitem"><a href="#data-driven-colors">Data Driven Colors</a></div>  
            <div class="tocitem"><a href="#display-folders-for-data-elements">Display Folders for Data Elements</a></div>  
        </div>
        <br> 
        <p><small>Hosted on GitHub Pages &mdash;<br>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </header>
      <section class="morecontent"> 
        {{ content }} 
      </section> 
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
