<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header class="lessheader">
        <h3 id="contents">Contents</h3>
          <ul>
            <li style="margin-bottom: 20px;"><a href="#data-sources">Data sources</a></li>
            <li><a href="#power-query-elt">Power Query ELT</a> 
              <ul> 
                <li style="margin-bottom: 10px;"><a href="#parameters-and-functions">Parameters and Functions</a></li> 
                <li style="margin-bottom: 10px;"><a href="#data-loads">Data Loads</a></li> 
                <li style="margin-bottom: 10px;"><a href="#referral-table">Referral Table</a></li> 
                <li><a href="#referral-milestone-table">Referral Milestone Table</a></li> 
              </ul>
            </li>
            <li><a href="#power-bi-data-model">Power BI data model</a></li>
         </ul>
      </header>
      <section class="morecontent"> 
        {{ content }} 
      </section> 
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
