<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h3 id="contents">Contents</h3>
        <div style="margin-bottom: 20px;"><a href="#data-sources">Data sources</a></div>
        <div><a href="#power-query-elt">Power Query ELT</a> 
            <div class="tocitem"><a href="#parameters-and-functions">Parameters and Functions</a></div> 
            <div class="tocitem"><a href="#data-loads">Data Loads</a></div>
            <div class="tocitem"><a href="#referral-table">Referral Table</a></div> 
            <div class="tocitem"><a href="#referral-milestone-table">Referral Milestone Table</a></div> 
            <div class="tocitem"><a href="#direct-secure-message-table">Direct Secure Message Table</a></div> 
            <div class="tocitem"><a href="#standard-calendar-table">Standard Calendar Table</a></div> 
            <div class="tocitem"><a href="#dimension-tables">Dimension Tables</a></div> 
            <div class="tocitem" style="margin-bottom: 20px;"><a href="#other-tables">Other Tables</a></div> 
        </div>
        <div><a href="#power-bi-data-model">Power BI data model</a></div>
      </header>
      <section class="morecontent"> 
        {{ content }} 
      </section> 
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
